# Chapter 3 - Exercise 4: Weather Data

#### Bộ dữ liệu Weather Data bao gồm thông tin về thời tiết của tất cả các ngày trong tháng 7 năm 2017
#### Bộ dữ liệu chứa trong thư mục data gồm các file dữ liệu:
- 1_TempHighF: Nhiệt độ cao nhất (độ F)
- 2_TempLowF: Nhiệt độ thấp nhất (độ F)
- 3_HumidityHighPercent: Độ ẩm cao nhất (%)
- 4_HumidityLowPercent: Độ ẩm thấp nhất (%)
- 5_VisibilityHighMiles: Tầm nhìn xa (miles)
- 6_VisibilityLowMiles: Tầm nhìn gần (miles)
- 7_WindMPH: Sức gió (miles per hour)
- 8_PrecipitationSumInches: Lượng mưa (inches)

### * Yêu cầu
<p><b>1. Đọc dữ liệu từ các tập tin trong thư mục "Weather Data" và tạo dataframe dfWeather với tên cột tương ứng (ví dụ tên file "1_TempHighF.txt" thì tên cột là "TempHighF")  
</b></p>
- Xem 5 dòng đầu tiên trong dfWeather  <br>
- Kiểm tra và chuyển đổi kiểu dữ liệu phù hợp

<p><b>2. Tạo dataframe dfWeather2 lần lượt với các cột sau đây:
'TempHighC', 'TempLowC', 'HumidityHighPercent', 'HumidityLowPercent', 'VisibilityHighKMs', 'VisibilityLowKMs', 'WindKMPH', 'PrecipitationSumMM'</b></p>  
<p>&nbsp; &nbsp;2.1  Chuyển đổi cột nhiệt độ cao nhất từ độ F sang độ C và lưu vào cột TempHighC trong dfWeather2 (làm tròn 2 số lẻ), hiển thị 5 giá trị đầu của TempHighC</p>
<ul>
    <li>công thức chuyển từ độ F sang C: C = (F − 32) × 5/9</li>
    <li>ví dụ chuyển từ 80F sang C: C = (80 - 32) x 5/9 = 26.67C</li>
</ul>    
<p>&nbsp; &nbsp;2.2 Chuyển đổi cột nhiệt độ thấp nhất từ độ F sang độ C và lưu vào cột TempLowC trong dfWeather2</p>
<p>&nbsp; &nbsp;2.3 Tính nhiệt độ trung bình TempMediumC trong dfWeather2</p>
<p>&nbsp; &nbsp;2.4 Tạo mới các cột độ ẩm HumidityHighPercent và HumidityLowPercent trong dfWeather2 bằng các cột HumidityHighPercent và HumidityLowPercent trong dfWeather</p>
<p>&nbsp; &nbsp;2.5 Chuyển đổi cột tầm nhìn xa từ miles sang kilomet và lưu vào cột VisibilityHighKMs trong dfWeather2</p>
<ul>
<li>công thức chuyển từ Mile sang Kilomet: km = mile * 1.609344</li>
    <li>ví dụ chuyển từ 10 mile sang km: km = 10 * 1.609344 = 16.09344 km</li>
</ul>    
<p>&nbsp; &nbsp;2.6 Chuyển đổi cột tầm nhìn gần từ miles sang kilomet và lưu vào cột VisibilityLowKMs trong dfWeather2</p>
<p>&nbsp; &nbsp;2.7 Chuyển đổi cột sức gió từ miles/hour (WindMPH) sang kilomets/hour và lưu vào cột WindKMPH trong dfWeather2</p>
<p>&nbsp; &nbsp;2.8 Chuyển đổi cột lượng mưa từ inches sang milimet và lưu vào cột PrecipitationSumMMs trong dfWeather2</p>
<ul>
    <li>công thức chuyển từ Inches sang Milimet: mm = inches * 25.4</li>
    <li>ví dụ chuyển từ 10 inches sang milimet: mm = 10 * 25.4 = 254 mm</li>

<p><b>3. Xem thông tin thời tiết của 5 ngày đầu tiên trong dfWeather2
<p><b>4. Từ dfWeather2, liệt kê thông tin thời tiết của các ngày có nhiệt độ trung bình cao nhất
<p><b>5. Từ dfWeather2, liệt kê thông tin thời tiết của các ngày có nhiệt độ trung bình thấp nhất
<p><b>6. Từ dfWeather2, liệt kê thông tin thời tiết của các ngày có mưa, sắp giảm theo lượng mưa
<p><b>7. Từ dfWeather2, liệt kê thông tin thời tiết của các ngày không có mưa và có độ ẩm trung bình cao nhất
<p><b>8. Tạo series temp_medium chứa hai giá trị trung bình cột TempMediumC của các ngày có mưa và các ngày không mưa trong tháng

In [17]:
import os
import pandas as pd
import re

#### 1. Đọc dữ liệu từ các tập tin và tạo dataframe dfWeather với tên cột tương ứng

In [42]:
# Lấy danh sách tên các tệp trong thư mục
TempHighF = pd.read_csv('Weather Data/1_TempHighF.txt',delimiter = ',',header = None)
TempLowF = pd.read_csv('Weather Data/2_TempLowF.txt', delimiter=',', header = None)
HumidityHighPercent = pd.read_csv('Weather Data/3_HumidityHighPercent.txt', delimiter=',', header = None)
HumidityLowPercent = pd.read_csv('Weather Data/4_HumidityLowPercent.txt', delimiter=',', header = None)
VisibilityHighMiles = pd.read_csv('Weather Data/5_VisibilityHighMiles.txt', delimiter=',', header = None)
VisibilityLowMiles = pd.read_csv('Weather Data/6_VisibilityLowMiles.txt', delimiter=',', header = None)
WindMPH = pd.read_csv('Weather Data/7_WindMPH.txt', delimiter=',', header = None)
PrecipitationSumInches = pd.read_csv('Weather Data/8_PrecipitationSumInches.txt', delimiter=',', header = None)

In [43]:
# Đọc từng tệp và tạo DataFrame từ nội dung của từng tệp
TempHighF = TempHighF.T
TempHighF.head(5)
TempLowF = TempLowF.T
TempLowF.head(5)
HumidityHighPercent = HumidityHighPercent.T
HumidityHighPercent.head(5)
HumidityLowPercent = HumidityLowPercent.T
HumidityLowPercent.head()
VisibilityHighMiles = VisibilityHighMiles.T
VisibilityHighMiles.head()
VisibilityLowMiles = VisibilityLowMiles.T
VisibilityLowMiles.head()
WindMPH = WindMPH.T
WindMPH.head()
PrecipitationSumInches = PrecipitationSumInches.T
PrecipitationSumInches.head()
# Hiển thị 5 dòng đầu của DataFrame

      0
0  0.01
1  0.00
2  0.00
3  0.00
4  0.00

In [47]:
TempHighF.columns = ['TempHighF']
TempLowF.columns = ['TempLowF']
HumidityHighPercent.columns = ['HumidityHighPercent']
HumidityLowPercent.columns = ['HumidityLowPercent']
VisibilityHighMiles.columns = ['VisibilityHighMiles']
VisibilityLowMiles.columns = ['VisibilityLowMiles']
WindMPH.columns = ['WindMPH']
PrecipitationSumInches.columns = ['PrecipitationSumInches']
dfWeather = pd.concat([
    TempHighF,
    TempLowF,
    HumidityHighPercent,
    HumidityLowPercent,
    VisibilityHighMiles,
    VisibilityLowMiles,
    WindMPH,
    PrecipitationSumInches
], axis=1)
dfWeather.head()

,TempHighF,TempLowF,HumidityHighPercent,HumidityLowPercent,VisibilityHighMiles,VisibilityLowMiles,WindMPH,PrecipitationSumInches
0,98,79,85,38,10,6,15,0.01
1,100,78,91,35,10,8,14,0.00
2,99,76,88,35,10,10,13,0.00
3,101,78,85,35,10,10,13,0.00
4,99,78,85,31,10,10,13,0.00

In [49]:
# Chuyển kiểu dữ liệu của tất cả các cột trong dfWeather thành numeric
dfWeather = dfWeather.apply(pd.to_numeric, errors='coerce')
dfWeather

,TempHighF,TempLowF,HumidityHighPercent,HumidityLowPercent,VisibilityHighMiles,VisibilityLowMiles,WindMPH,PrecipitationSumInches
0,98,79,85,38,10,6,15,0.01
1,100,78,91,35,10,8,14,0.00
2,99,76,88,35,10,10,13,0.00
3,101,78,85,35,10,10,13,0.00
4,99,78,85,31,10,10,13,0.00
5,100,77,88,31,10,10,12,0.00
6,99,75,88,33,10,10,15,0.02
7,100,75,87,31,10,10,9,0.00
8,101,77,82,29,10,10,12,0.00
9,100,76,87,26,10,10,12,0.00
10,101,77,88,27,10,10,14,0.00
11,101,77,88,29,10,10,13,0.00
12,102,77,88,29,10,10,10,0.00
13,101,77,88,27,10,10,15,0.00
14,103,71,100,29,10,2,23,0.16
15,99,68,100,33,10,6,12,0.00
16,98,77,88,38,10,10,16,0.03
17,100,76,88,33,10,10,14,0.00
18,101,77,88,31,10,10,18,0.00
19,103,77,85,27,10,10,14,0.00
20,104,77,85,27,10,10,14,0.01
21,103,77,88,27,10,10,13,0.00
22,103,77,85,31,10,2,13,0.04
23,102,76,91,29,10,9,13,0.01
24,103,78,91,31,10,9,15,0.00
25,103,78,91,25,10,10,15,0.01
26,103,75,82,25,10,10,12,0.00
27,105,76,87,20,10,10,14,0.00
28,107,77,82,19,10,10,12,0.00
29,106,79,69,27,10,10,13,0.00
30,99,77,64,22,10,10,12,0.00

### 2. Tạo dataframe dfWeather2 lần lượt với các cột sau đây:
- 'TempHighC', 'TempLowC', 'HumidityHighPercent', 'HumidityLowPercent', 'VisibilityHighKMs', 'VisibilityLowKMs', 'WindKMPH', 'PrecipitationSumMM'

In [61]:
dfWeather2 = dfWeather.copy()
dfWeather2.head()

,TempHighF,TempLowF,HumidityHighPercent,HumidityLowPercent,VisibilityHighMiles,VisibilityLowMiles,WindMPH,PrecipitationSumInches
0,98,79,85,38,10,6,15,0.01
1,100,78,91,35,10,8,14,0.00
2,99,76,88,35,10,10,13,0.00
3,101,78,85,35,10,10,13,0.00
4,99,78,85,31,10,10,13,0.00

##### 2.1  Chuyển đổi cột nhiệt độ cao nhất từ độ F sang độ C và lưu vào cột TempHighC trong dfWeather2 (làm tròn 2 số lẻ), hiển thị 5 giá trị đầu của TempHighC
    - công thức chuyển từ độ F sang C: C = (F − 32) × 5/9
    - ví dụ chuyển từ 80F sang C: C = (80 - 32) x 5/9 = 26.67C

In [62]:
dfWeather2['TempHighF'] = (dfWeather2['TempHighF'] - 32) * 5/9
dfWeather2.rename(columns={'TempHighF': 'TempHighC'}, inplace=True)
dfWeather2.head()

,TempHighC,TempLowF,HumidityHighPercent,HumidityLowPercent,VisibilityHighMiles,VisibilityLowMiles,WindMPH,PrecipitationSumInches
0,36.666667,79,85,38,10,6,15,0.01
1,37.777778,78,91,35,10,8,14,0.00
2,37.222222,76,88,35,10,10,13,0.00
3,38.333333,78,85,35,10,10,13,0.00
4,37.222222,78,85,31,10,10,13,0.00

#### 2.2 Chuyển đổi cột nhiệt độ thấp nhất từ độ F sang độ C và lưu vào cột TempLowC trong dfWeather2

In [63]:
dfWeather2['TempLowF'] = (dfWeather2['TempLowF'] - 32) * 5/9
dfWeather2.rename(columns={'TempLowF': 'TempLowC'}, inplace=True)
dfWeather2.head()

,TempHighC,TempLowC,HumidityHighPercent,HumidityLowPercent,VisibilityHighMiles,VisibilityLowMiles,WindMPH,PrecipitationSumInches
0,36.666667,26.111111,85,38,10,6,15,0.01
1,37.777778,25.555556,91,35,10,8,14,0.00
2,37.222222,24.444444,88,35,10,10,13,0.00
3,38.333333,25.555556,85,35,10,10,13,0.00
4,37.222222,25.555556,85,31,10,10,13,0.00

##### 2.3 Tính nhiệt độ trung bình TempMediumC trong dfWeather2

In [64]:
dfWeather2["TempMediumC"] = (dfWeather2["TempHighC"] + dfWeather2["TempLowC"]) / 2
dfWeather2.head()

,TempHighC,TempLowC,HumidityHighPercent,HumidityLowPercent,VisibilityHighMiles,VisibilityLowMiles,WindMPH,PrecipitationSumInches,TempMediumC
0,36.666667,26.111111,85,38,10,6,15,0.01,31.388889
1,37.777778,25.555556,91,35,10,8,14,0.00,31.666667
2,37.222222,24.444444,88,35,10,10,13,0.00,30.833333
3,38.333333,25.555556,85,35,10,10,13,0.00,31.944444
4,37.222222,25.555556,85,31,10,10,13,0.00,31.388889

##### 2.4 Tạo mới các cột độ ẩm HumidityHighPercent và HumidityLowPercent trong dfWeather2 bằng các cột HumidityHighPercent và HumidityLowPercent trong dfWeather

In [65]:
dfWeather2["HumidityHighPercent"] = dfWeather["HumidityHighPercent"]
dfWeather2["HumidityLowPercent"] = dfWeather["HumidityLowPercent"]
dfWeather2.head()

,TempHighC,TempLowC,HumidityHighPercent,HumidityLowPercent,VisibilityHighMiles,VisibilityLowMiles,WindMPH,PrecipitationSumInches,TempMediumC
0,36.666667,26.111111,85,38,10,6,15,0.01,31.388889
1,37.777778,25.555556,91,35,10,8,14,0.00,31.666667
2,37.222222,24.444444,88,35,10,10,13,0.00,30.833333
3,38.333333,25.555556,85,35,10,10,13,0.00,31.944444
4,37.222222,25.555556,85,31,10,10,13,0.00,31.388889

##### 2.5 Chuyển đổi cột tầm nhìn xa từ miles sang kilomet và lưu vào cột VisibilityHighKMs trong dfWeather2
    - công thức chuyển từ Mile sang Kilomet: km = mile * 1.609344
    - ví dụ chuyển từ 10 mile sang km: km = 10 * 1.609344 = 16.09344 km

In [66]:
dfWeather2['VisibilityHighMiles']= dfWeather2['VisibilityHighMiles'] * 1.609344
dfWeather2.rename(columns={'VisibilityHighMiles': 'VisibilityHighKMs'},inplace = True)
dfWeather2.head()

,TempHighC,TempLowC,HumidityHighPercent,HumidityLowPercent,VisibilityHighKMs,VisibilityLowMiles,WindMPH,PrecipitationSumInches,TempMediumC
0,36.666667,26.111111,85,38,16.09344,6,15,0.01,31.388889
1,37.777778,25.555556,91,35,16.09344,8,14,0.00,31.666667
2,37.222222,24.444444,88,35,16.09344,10,13,0.00,30.833333
3,38.333333,25.555556,85,35,16.09344,10,13,0.00,31.944444
4,37.222222,25.555556,85,31,16.09344,10,13,0.00,31.388889

##### 2.6 Chuyển đổi cột tầm nhìn gần từ miles sang kilomet và lưu vào cột VisibilityLowKMs trong dfWeather2

In [67]:
dfWeather2['VisibilityLowMiles']= dfWeather2['VisibilityLowMiles'] * 1.609344
dfWeather2.rename(columns={'VisibilityLowMiles': 'VisibilityLowKMs'},inplace = True)
dfWeather2.head()

,TempHighC,TempLowC,HumidityHighPercent,HumidityLowPercent,VisibilityHighKMs,VisibilityLowKMs,WindMPH,PrecipitationSumInches,TempMediumC
0,36.666667,26.111111,85,38,16.09344,9.656064,15,0.01,31.388889
1,37.777778,25.555556,91,35,16.09344,12.874752,14,0.00,31.666667
2,37.222222,24.444444,88,35,16.09344,16.093440,13,0.00,30.833333
3,38.333333,25.555556,85,35,16.09344,16.093440,13,0.00,31.944444
4,37.222222,25.555556,85,31,16.09344,16.093440,13,0.00,31.388889

##### 2.7 Chuyển đổi cột sức gió từ miles/hour (WindMPH) sang kilomets/hour và lưu vào cột WindKMPH trong dfWeather2

In [68]:
dfWeather2['WindMPH']= dfWeather2['WindMPH'] * 1.609344
dfWeather2.rename(columns={'WindMPH': 'WindKMPH'},inplace = True)
dfWeather2.head()

,TempHighC,TempLowC,HumidityHighPercent,HumidityLowPercent,VisibilityHighKMs,VisibilityLowKMs,WindKMPH,PrecipitationSumInches,TempMediumC
0,36.666667,26.111111,85,38,16.09344,9.656064,24.140160,0.01,31.388889
1,37.777778,25.555556,91,35,16.09344,12.874752,22.530816,0.00,31.666667
2,37.222222,24.444444,88,35,16.09344,16.093440,20.921472,0.00,30.833333
3,38.333333,25.555556,85,35,16.09344,16.093440,20.921472,0.00,31.944444
4,37.222222,25.555556,85,31,16.09344,16.093440,20.921472,0.00,31.388889

##### 2.8 Chuyển đổi cột lượng mưa từ inches sang milimet và lưu vào cột PrecipitationSumMMs trong dfWeather2
    - công thức chuyển từ Inches sang Milimet: mm = inches * 25.4
    - ví dụ chuyển từ 10 inches sang milimet: mm = 10 * 25.4 = 254 mm

In [69]:
dfWeather2['PrecipitationSumInches']= dfWeather2['PrecipitationSumInches'] * 25.4
dfWeather2.rename(columns={'PrecipitationSumInches': 'PrecipitationSumMMs'},inplace = True)
dfWeather2.head()

,TempHighC,TempLowC,HumidityHighPercent,HumidityLowPercent,VisibilityHighKMs,VisibilityLowKMs,WindKMPH,PrecipitationSumMMs,TempMediumC
0,36.666667,26.111111,85,38,16.09344,9.656064,24.140160,0.254,31.388889
1,37.777778,25.555556,91,35,16.09344,12.874752,22.530816,0.000,31.666667
2,37.222222,24.444444,88,35,16.09344,16.093440,20.921472,0.000,30.833333
3,38.333333,25.555556,85,35,16.09344,16.093440,20.921472,0.000,31.944444
4,37.222222,25.555556,85,31,16.09344,16.093440,20.921472,0.000,31.388889

### 3. Xem thông tin thời tiết của 5 ngày đầu tiên trong dfWeather2

In [70]:
dfWeather2.head()

,TempHighC,TempLowC,HumidityHighPercent,HumidityLowPercent,VisibilityHighKMs,VisibilityLowKMs,WindKMPH,PrecipitationSumMMs,TempMediumC
0,36.666667,26.111111,85,38,16.09344,9.656064,24.140160,0.254,31.388889
1,37.777778,25.555556,91,35,16.09344,12.874752,22.530816,0.000,31.666667
2,37.222222,24.444444,88,35,16.09344,16.093440,20.921472,0.000,30.833333
3,38.333333,25.555556,85,35,16.09344,16.093440,20.921472,0.000,31.944444
4,37.222222,25.555556,85,31,16.09344,16.093440,20.921472,0.000,31.388889

### 4. Từ dfWeather2, liệt kê thông tin thời tiết của các ngày có nhiệt độ trung bình cao nhất

In [71]:
dfWeather2.sort_values('TempMediumC',ascending= False).head()

,TempHighC,TempLowC,HumidityHighPercent,HumidityLowPercent,VisibilityHighKMs,VisibilityLowKMs,WindKMPH,PrecipitationSumMMs,TempMediumC
29,41.111111,26.111111,69,27,16.09344,16.093440,20.921472,0.000,33.611111
28,41.666667,25.000000,82,19,16.09344,16.093440,19.312128,0.000,33.333333
20,40.000000,25.000000,85,27,16.09344,16.093440,22.530816,0.254,32.500000
24,39.444444,25.555556,91,31,16.09344,14.484096,24.140160,0.000,32.500000
25,39.444444,25.555556,91,25,16.09344,16.093440,24.140160,0.254,32.500000

### 5. Từ dfWeather2, liệt kê thông tin thời tiết của các ngày có nhiệt độ trung bình thấp nhất

In [72]:
dfWeather2.sort_values('TempMediumC',ascending= True).head()

,TempHighC,TempLowC,HumidityHighPercent,HumidityLowPercent,VisibilityHighKMs,VisibilityLowKMs,WindKMPH,PrecipitationSumMMs,TempMediumC
15,37.222222,20.000000,100,33,16.09344,9.656064,19.312128,0.000,28.611111
6,37.222222,23.888889,88,33,16.09344,16.093440,24.140160,0.508,30.555556
14,39.444444,21.666667,100,29,16.09344,3.218688,37.014912,4.064,30.555556
2,37.222222,24.444444,88,35,16.09344,16.093440,20.921472,0.000,30.833333
16,36.666667,25.000000,88,38,16.09344,16.093440,25.749504,0.762,30.833333

### 6. Từ dfWeather2, liệt kê thông tin thời tiết của các ngày có mưa, sắp giảm theo lượng mưa

In [74]:
dfWeather2.loc[dfWeather2['PrecipitationSumMMs']>0].sort_values('PrecipitationSumMMs',ascending=False)

,TempHighC,TempLowC,HumidityHighPercent,HumidityLowPercent,VisibilityHighKMs,VisibilityLowKMs,WindKMPH,PrecipitationSumMMs,TempMediumC
14,39.444444,21.666667,100,29,16.09344,3.218688,37.014912,4.064,30.555556
22,39.444444,25.000000,85,31,16.09344,3.218688,20.921472,1.016,32.222222
16,36.666667,25.000000,88,38,16.09344,16.093440,25.749504,0.762,30.833333
6,37.222222,23.888889,88,33,16.09344,16.093440,24.140160,0.508,30.555556
0,36.666667,26.111111,85,38,16.09344,9.656064,24.140160,0.254,31.388889
20,40.000000,25.000000,85,27,16.09344,16.093440,22.530816,0.254,32.500000
23,38.888889,24.444444,91,29,16.09344,14.484096,20.921472,0.254,31.666667
25,39.444444,25.555556,91,25,16.09344,16.093440,24.140160,0.254,32.500000

### 7. Từ dfWeather2, liệt kê thông tin thời tiết của các ngày không có mưa và có độ ẩm trung bình cao nhất

In [80]:
dfWeather2['HumidityMeanPercent']=(dfWeather2['HumidityHighPercent'] + dfWeather2['HumidityLowPercent'])/2
dfWeather2[dfWeather2['PrecipitationSumMMs']==0].sort_values(by='HumidityMeanPercent',ascending = False)

,TempHighC,TempLowC,HumidityHighPercent,HumidityLowPercent,VisibilityHighKMs,VisibilityLowKMs,WindKMPH,PrecipitationSumMMs,TempMediumC,HumidityMeanPercent
15,37.222222,20.000000,100,33,16.09344,9.656064,19.312128,0.0,28.611111,66.5
1,37.777778,25.555556,91,35,16.09344,12.874752,22.530816,0.0,31.666667,63.0
2,37.222222,24.444444,88,35,16.09344,16.093440,20.921472,0.0,30.833333,61.5
24,39.444444,25.555556,91,31,16.09344,14.484096,24.140160,0.0,32.500000,61.0
17,37.777778,24.444444,88,33,16.09344,16.093440,22.530816,0.0,31.111111,60.5
3,38.333333,25.555556,85,35,16.09344,16.093440,20.921472,0.0,31.944444,60.0
5,37.777778,25.000000,88,31,16.09344,16.093440,19.312128,0.0,31.388889,59.5
18,38.333333,25.000000,88,31,16.09344,16.093440,28.968192,0.0,31.666667,59.5
7,37.777778,23.888889,87,31,16.09344,16.093440,14.484096,0.0,30.833333,59.0
11,38.333333,25.000000,88,29,16.09344,16.093440,20.921472,0.0,31.666667,58.5
12,38.888889,25.000000,88,29,16.09344,16.093440,16.093440,0.0,31.944444,58.5
4,37.222222,25.555556,85,31,16.09344,16.093440,20.921472,0.0,31.388889,58.0
21,39.444444,25.000000,88,27,16.09344,16.093440,20.921472,0.0,32.222222,57.5
13,38.333333,25.000000,88,27,16.09344,16.093440,24.140160,0.0,31.666667,57.5
10,38.333333,25.000000,88,27,16.09344,16.093440,22.530816,0.0,31.666667,57.5
9,37.777778,24.444444,87,26,16.09344,16.093440,19.312128,0.0,31.111111,56.5
19,39.444444,25.000000,85,27,16.09344,16.093440,22.530816,0.0,32.222222,56.0
8,38.333333,25.000000,82,29,16.09344,16.093440,19.312128,0.0,31.666667,55.5
26,39.444444,23.888889,82,25,16.09344,16.093440,19.312128,0.0,31.666667,53.5
27,40.555556,24.444444,87,20,16.09344,16.093440,22.530816,0.0,32.500000,53.5
28,41.666667,25.000000,82,19,16.09344,16.093440,19.312128,0.0,33.333333,50.5
29,41.111111,26.111111,69,27,16.09344,16.093440,20.921472,0.0,33.611111,48.0
30,37.222222,25.000000,64,22,16.09344,16.093440,19.312128,0.0,31.111111,43.0

## 8. Tạo series temp_medium chứa hai giá trị trung bình cột TempMediumC của các ngày có mưa và các ngày không mưa trong tháng

In [84]:
rain_days = dfWeather2[dfWeather2['PrecipitationSumMMs'] > 0]['TempMediumC'].mean()
no_rain_days = dfWeather2[dfWeather2['PrecipitationSumMMs'] == 0]['TempMediumC'].mean()
temp_medium = pd.Series({
    "RainDays": rain_days,
    "NoRainDays": no_rain_days
})
temp_medium

RainDays      31.527778
NoRainDays    31.666667
dtype: float64